body {
	font-family: "poppins", sans-serif;
	background-color: white;
	color: rgb(36, 34, 34);
}
.container {
	width: 90%;
	margin: 40px;
  	text-align: center;
}

.form-section {
	width: 500px;
	height: 300px;
	background-color: whitesmoke;
	padding: 20px;
	border-radius: 5px;
}
.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	flex-flow: column wrap;
}

.form-group input, textarea {
	border-radius: 5px;
	border-color: 1px solid whitesmoke;
	padding: 10px;
	font-family: "poppins", sans-serif;
}

label {
	margin-bottom: 5px;
}

.title-playlist{
  text-align: center;
}

.login-app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-playlist {
	width: 200px;
	border-radius: 8px;
	padding: 10px;
	background-color: #293241;
}

.card-playlist img {
  width: 100%;
}

.card-playlist, h3 p {
  color: white;
}

.album-name {
  font-size: 16px;
  height: 60px;
}

.btn-select {
  	border-radius: 5px;
	border-color: 1px solid whitesmoke;
	padding: 10px;
	width: 100%;
	font-family: "poppins", sans-serif;
	color: whitesmoke;
	background-color: #ee6c4d;
	cursor: pointer;
	pointer-events: all;
	font-weight: medium;
	border: none;
  	background-color: #e0fbfc;
	color: #293241;
}

.track-list{
	margin-top: 30px;
	display: grid;
	justify-items: center;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}